body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas,source-code-pro, Menlo, Monaco, 'Courier New',
    monospace;
}


.nav-item .nav-link {
  margin-right: 2.5rem;
}

.nav-form {
  margin-left: 2rem;
}

.burger {
  font-size: 1.2rem;
  margin-top: 3px;
}

img:hover{
  opacity: 0.75;
}

/* footer.js */
.social-media i{
  height: 2rem;
  width: 2rem;
  display: inline-flex;
}
.social-media {
  margin-top: 2.5rem;
}

.rights {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.nav-col a {
  color: #000;
  opacity: 0.5;
  line-height: 2.25rem;
}
.market-risk {
  font-size: 0.8rem;
  opacity: 0.7;
}
footer {
  background-color: #FBFBFB;
  margin-bottom: 10rem;
}

.policy {
  margin-top: 2rem;
}

.policy a{
  color: black;
  opacity: 0.6;
  margin-left: 2rem;
  font-weight: 600;
}

.policy a:hover{
  color: #3700ff;
}


/* about page */

.hero-info {
  margin-top: 12rem;
  font-size: 1.7rem;
  opacity: 0.8;
  margin-bottom: 6rem;
}

.hero-desc {
  margin-top: 5rem;
}

.hero-desc div p {
  padding: 1rem;
  line-height: 1.75rem;
  font-size: large;
}


/* about page */
.myimg {
  width: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 5rem;
}


/* support -> createTicket */

/* .ticket-links div p */ 
a { 
  font-weight: 500;
}

/* support -> hero.js */
.portal-links a {
  text-decoration-line:underline ;
  color: #fff;
}


